<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DynamicColors.Light.Rikka"
        tools:targetApi="34">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FileMangerActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activity.RequestBinderActivity"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent"
            android:exported="true">
            <intent-filter>
                <action android:name="runner.plus.intent.action.REQUEST_BINDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.RequestPermissionActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/GrantPermissions">
        </activity>

        <receiver
            android:name=".receiver.ServerReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="runner.plus.intent.action.SERVER_RUNNING" />
            </intent-filter>
            <intent-filter>
                <action android:name="runner.plus.intent.action.SERVER_STOPPED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>